:root {
	--brand-text-color: #2299ff;
	--main-text-color: #222222;
	--main-bg-color: #ffffff;
	--second-text-color: #777777;
	--second-bg-color: #eeeeff;
	--third-text-color: var(--main-bg-color, #eee);
	--third-bg-color: var(--main-text-color, #333);
	--transparent-text-color: #ffffff99;
	--border-header-color: #eeeeee;
	--button-text-color: var(--main-bg-color, #eee);
	--button-bg-color: var(--brand-text-color, #26f);
}

* {
	letter-spacing: 0.05em;
}

body {
	width: 1600px;
	margin: 0 auto;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;
}

.logo {
	margin: 0 20px;
	color: var(--main-text-color);
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
}

.logo-blue {
	color: var(--brand-text-color);
}

.menu {
	margin-left: 75px;
	flex-grow: 1;
}

.contact,
.menu-list {
	width: 300px;
	display: flex;
	justify-content: space-between;
}

.menu-item {
	color: var(--main-text-color);
}

.contact-item:hover,
.menu-item:active,
.menu-item:hover{
	color: var(--brand-text-color);
	cursor: pointer;
}

.contact-item {
	color: var(--second-text-color);
}

.main {
	border-top: 1px solid var(--border-header-color);
}

.hero {
	width: 100%;
	height: 600px;
	background-color: var(--third-bg-color);
	color: var(--third-text-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-title {
	font-size: 44px;
	line-height: 60px;
	width: 600px;
	text-align: center;
	font-weight: 900;
}

.hero-button {
	width: 215px;
	height: 50px;
	border-radius: 4px;
	color: var(--button-text-color);
	background-color: var(--button-bg-color);
	border: none;
	font-size: 16px;
	font-weight: 700;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.page-wrap {
	width: 1170px;
	margin: 0 auto;
}

.team-list,
.ww-do-list,
.features-list {
	display: flex;
	justify-content: space-between;
}


.footer {
	background-color: var(--third-bg-color);
	height: 130px;
	padding: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-logo {
	color: var(--third-text-color);
	margin: 0;
}

.contacts-item {
	color: var(--transparent-text-color);
}

.address {
	color: var(--third-text-color);
}

.contacts {
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.team-mate p,
.features-item p{
	color: var(--second-text-color);
}

.features-title {
	display: none;
}

.features {
	padding-top: 95px;
}

.ww-do,
.team {
	text-align: center;
	padding: 95px;
}

.team {
	height: 460px;
	background-color: var(--second-bg-color);
}

.ww-do-title,
.team-title {
	font-size: 36px;
	margin-bottom: 50px;
}